/* body */
*{
    margin:0;
    padding:0;
    /* font-family: press; */
}
body{
    background-color: black;
    color:white;
}

/* header */
header{
    border-bottom: 10px solid white;
}
header .again{
    display:flex;
    justify-content: space-between;
}
.again button{
    width:130px;
    font-size: 30px;
    padding:5px 0px;
    border-radius: 5px;
    margin:20px 0px 0px 20px;
    background-color: white;
}
.again p{
    color:white;
    margin:20px 20px 0px 0px;
    font-size: 20px;
}
h1{
    text-align: center;
    color:white;
    margin-top:100px;
}
.number{
    background-color: red;
    color:white;
    padding:10px;
    width:50px;
    font-size:50px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:30px;
    left:47%;
    /* margin: auto; */
}

/* main body */
main{
    display:flex;
    justify-content: space-around;
    margin-top:150px;
}
.guess{
    width:120px;
    color:white;
    display:block;
    text-align: center;
    font-size: 50px;
    border:1px solid white;
    background-color: black;
}
.checkbtn{
    margin:10px 0px 0px 10px;
    font-size:20px;
    padding:0px 20px;
}
.message{
    font-size: 25px;
}
.score{
    margin-top:20px;
    font-size: 17px;
}
.high-score{
    font-size: 17px;
}