/* body */
*{
    margin:0;
    padding:0;
    font-family: 'press start 2p';
}
body{
    background-color: black;
    color:white;
}

/* header */
header{
    border-bottom: 10px solid white;
}
header .again{
    display:flex;
    justify-content: space-between;
}
.again button{
    width:180px;
    font-size: 25px;
    padding:10px 0px;
    border-radius: 5px;
    margin:20px 0px 0px 20px;
    background-color: white;
}
.again p{
    color:white;
    margin:20px 20px 0px 0px;
    font-size: 15px;
}
h1{
    text-align: center;
    color:white;
    margin-top:100px;
}
.number{
    background-color: red;
    color:white;
    padding:15px;
    width:50px;
    font-size:25px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:30px;
    left:47%;
}

/* main body */
main{
    display:flex;
    justify-content: space-around;
    margin-top:150px;
}
.guess{
    width:140px;
    color:white;
    margin-left:10px;
    display:block;
    text-align: center;
    font-size: 30px;
    padding:10px 0px;
    border:1px solid white;
    background-color: black;
}
.checkbtn{
    margin:20px 0px 0px 12px;
    font-size:15px;
    padding:10px;
}
.message{
    font-size: 20px; 
}
.score{
    margin:40px 0px 15px 0px;
    font-size: 15px;
}
.high_score{
    font-size: 15px;
}


@media only screen and (min-width:0px) and (max-width:600px){
/* body */
*{
    margin:0;
    padding:0;
    font-family: 'press start 2p';
}
body{
    background-color: black;
    color:white;
}

/* header */
header{
    margin-top:170px;
    border-bottom: 10px solid white;
}
header .again{
    display:flex;
}
.again button{
    width:130px;
    font-size: 15px;
    padding:10px 0px;
    border-radius: 5px;
    margin:20px 0px 0px 20px;
    background-color: white;
}
.again p{
    color:white;
    margin:30px 20px 0px 0px;
    font-size: 10px;
}
h1{
    font-size: large;
    text-align: center;
    color:white;
    margin-top:80px;
}
.number{
    background-color: red;
    color:white;
    padding:10px;
    width:30px;
    font-size:15px;
    text-align: center;
    line-height: 30px;
    position: relative;
    top:30px;
    left:47%;
}
/* main body */
main{
    display:flex;
    justify-content: space-around;
    margin-top:100px;
}
.guess{
    width:100px;
    color:white;
    display:block;
    text-align: center;
    font-size: 15px;
    padding:10px 0px;
    border:1px solid white;
    background-color: black;
}
.checkbtn{
    margin:20px 0px 0px 12px;
    font-size:10px;
    padding:10px;
}
.message{
    font-size: 12px;
    margin-left:10px;
    line-height: 18px;
}
.score{
    margin:20px 0px 25px 10px;
    font-size: 11px;
}
.high_score{
    font-size: 11px;
    margin-left:10px;
}
}

